
# Tuples
# heterogeneous immutable sequence
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In this section, we will get a brief overview of the following:

1.) Constructing Tuples

2.) Basic Tuple Methods

3.) Immutability

4.) When to Use Tuples.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

# Constructing Tuples
The construction of a tuples use () with elements separated by commas. For example:

In [4]:
# Can create a tuple with mixed types
t = (1,2,3)
t

(1, 2, 3)

In [5]:
m = ()
type(m)

tuple

In [2]:
# Can also mix object types heterogeneous
t = ('one',2)

# Show
t

('one', 2)

In [3]:
# Use indexing just like we did in lists
t[0]

'one'

In [4]:

# Slicing just like a list
t[-1]

2

In [2]:
# Check len just like a list
len(t)

3

# Iterate through the tuples

In [7]:
for item in t:
    print(item,end="\t")

1	2	3

# Concatenation with + operator

In [6]:
t + ("three",)

('one', 2, 'three')

# Repetition with * operator

In [23]:
t * 3

('one', 2, 'one', 2, 'one', 2)

# Nested Tuples

In [9]:
m = ((1,2),(3,4))

In [10]:
m[1][0]

3


# Basic Tuple Methods
Tuples have built-in methods, but not as many as lists do. Lets look at two of them:

In [11]:
# Use .index to enter a value and return the index
t.count(1)

1

In [11]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [13]:
# len() can be used to get the length
len(t)

2

# Cannot use a single element for tuple

In [14]:
m = (4+4)

In [15]:
print(type(m))

<class 'int'>

In [32]:
m=(4,)
print(type(m))

<class 'tuple'>

# Empty tuple

In [33]:
m=()
print(type(m))

<class 'tuple'>

# Immutability
It can't be stressed enough that tuples are immutable. To drive that point home:

In [8]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

# When to use Tuples
You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then tuple become your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Advanced

In [34]:
p = 1,2,3,4,5,6,7

In [35]:
print(p)

(1, 2, 3, 4, 5, 6, 7)

In [36]:
# Delimiting parentheses are optional for one or more elements
# Tuples are useful for multiple return values
# min and max are the built in function
# return multiple values 
def minmax(val):
    return min(val),max(val)

In [39]:
minmax([1,2,3,4,5,6])

(1, 6)

In [42]:
# Tuple unpacking allows us to destruct directly into named reference
min_val , max_val = minmax([1,2,3,4,5,6])
print(min_val)
print(max_val)

1
6

# Swap

In [16]:
a,b = 12,13

In [17]:
# Swap the numbers 
a,b = b,a

In [18]:
print(a,b)

13 12

# Convert to tuple

In [19]:
# Converts string to tuple
tuple("Hariom")
tuple([])

()

# in and not in opertaor

In [49]:
'r' in tuple("Hariom")

True

In [22]:
m = [1,2,3,4,'h']
print(m)
'j' not in m

[1, 2, 3, 4, 'h']

True

# String with partition

In [25]:
origin,seperator,destination = "Del:patna".partition(':')

In [26]:
origin

'Del'

In [27]:
destination

'patna'

In [58]:
seperator

':'

In [64]:
# Most of the time we are not interested to capture the seperator
# Underscore is used for dummy name for seperator
origin,_,destination = "Del-patna".partition('-')

In [67]:
print(origin)

Del

In [32]:
print(_)

43353534

In [69]:
print(destination)

patna

In [30]:
43353534

43353534

In [31]:
_

43353534