# Set 

# Unordered collection of unique, immutable objects

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [50]:
#delimited by { and }
my_set = {1,2,3,4,5}
type(my_set)

set

In [2]:
s = {4}
type(s)

set

In [51]:
# Already {} are used for dictionary so what to use for set

In [3]:
new_set = {}
type(new_set)

dict

In [53]:
#use set constructor as {} means dictionary
x = set()

In [4]:
# Accepts iterable series of values
x = set([4,5,6,7,8])

In [6]:
# Orders are arbitary
for val in {1,2,4,8,16,32}:
    print(val,end="\t")

32	1	2	4	8	16

In [56]:
# Use in and not in operators

In [7]:
2 in x

False

In [8]:
2 not in x

True

In [9]:
22 not in x

True

In [10]:
# We add to sets with the add() method
x.add(1)
x.add(2)

In [11]:
#Show
print(x)
print(type(x))

{1, 2, 4, 5, 6, 7, 8}
<class 'set'>

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [62]:
# Add a different element
x.add(2)

In [63]:
#Show
x

{1, 2, 4, 5, 6, 7, 8}

In [64]:
# Try to add the same element
x.add(1)

In [65]:
#Show
x

{1, 2, 4, 5, 6, 7, 8}

# For multiple items use update

In [66]:
x.update([1,2,3,4,5])
print(x)

{1, 2, 3, 4, 5, 6, 7, 8}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [67]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [68]:
# Cast as set to get unique values
l= set(l)

# remove and discard

In [69]:
l.remove(1)
print(l)
l.remove(1)

{2, 3, 4, 5, 6}

KeyError: 1

In [70]:
# Doesn't echo error or exception
l.discard(2)
print(l)
l.discard(2)

{3, 4, 5, 6}

# Shallow Copy

In [71]:
l= x.copy()
# can be also l =set(x)
print(l)

{1, 2, 3, 4, 5, 6, 7, 8}

# Set union
# commutative

In [72]:
smart = {"ram","raju","reena","seena","meena"}
intelligent = {"ram","rahul","sweta","simran"}
# Find all who all are either smart or intelligent
smart.union(intelligent)

{'meena', 'rahul', 'raju', 'ram', 'reena', 'seena', 'simran', 'sweta'}

In [73]:
intelligent.union(smart)

{'meena', 'rahul', 'raju', 'ram', 'reena', 'seena', 'simran', 'sweta'}

# Set intersection 
# commutative

In [74]:
#find all who all are both and
smart.intersection(intelligent)

{'ram'}

In [75]:
intelligent.intersection(smart)

{'ram'}

# Set difference 
# non commutative

In [76]:
#find who are smart but not intelligent
smart.difference(intelligent)

{'meena', 'raju', 'reena', 'seena'}

In [77]:
#find who are intelligent but not smart
intelligent.difference(smart)

{'rahul', 'simran', 'sweta'}

issubset

issuperset

isdisjoint

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [78]:
# Set object to be a boolean
a = True

In [79]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [80]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [81]:
# None placeholder
b = None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!