# Set 

# Unordered collection of unique, immutable objects

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [5]:
#use set constructor as {} means dictionary
x = set()

In [6]:
# We add to sets with the add() method
x.add(1)

In [7]:
#Show
print(x)
print(type(x))

{1}
<class 'set'>

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [5]:
# Add a different element
x.add(2)

In [6]:
#Show
x

{1, 2}

In [7]:
# Try to add the same element
x.add(1)

In [9]:
#Show
x

{1, 2}

# For multiple items use update

In [9]:
x.update([1,2,3,4,5])
print(x)

{1, 2, 3, 4, 5}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [12]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [17]:
# Cast as set to get unique values
l= set(l)

# remove and discard

In [19]:
l.remove(1)
print(l)
l.remove(1)

KeyError: 1

In [22]:
# Doesn't echo error or exception
l.discard(2)
print(l)
l.discard(2)

{3, 4, 5, 6}

# Shallow Copy

In [25]:
l= x.copy()
print(l)

{1, 2, 3, 4, 5}

# Set union
# commutative

In [27]:
smart = {"ram","raju","reena","seena","meena"}
intelligent = {"ram","rahul","sweta","simran"}
# Find all who all are either smart or intelligent
smart.union(intelligent)

{'meena', 'rahul', 'raju', 'ram', 'reena', 'seena', 'simran', 'sweta'}

In [28]:
intelligent.union(smart)

{'meena', 'rahul', 'raju', 'ram', 'reena', 'seena', 'simran', 'sweta'}

# Set intersection 
# commutative

In [29]:
#find all who all are both and
smart.intersection(intelligent)

{'ram'}

In [30]:
intelligent.intersection(smart)

{'ram'}

# Set difference 
# non commutative

In [31]:
#find who are smart but not intelligent
smart.difference(intelligent)

{'meena', 'raju', 'reena', 'seena'}

In [32]:
#find who are intelligent but not smart
intelligent.difference(smart)

{'rahul', 'simran', 'sweta'}

issubset

issuperset

isdisjoint

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [13]:
# Set object to be a boolean
a = True

In [16]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [17]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [18]:
# None placeholder
b = None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!

# Set Comprehension (Part of iterable)

{expr(item) for item in iterable}

In [3]:
from math import factorial
{len(str(factorial(x))) for x in range(20)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18}